@charset "UTF-8";

/* atalho para criar comentarios 'shift + alt +a' */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root { /* Variaveis em CSS */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif; 
    --font-android: 'Android', cursive;
}

* { /* Configurações globais */
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 { 
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.404);
    font-weight: normal;
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.404);
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s; /* Adiciona uma animação leve ao passar o mouse em cima */
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.462);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--font-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative; /* Faz um deslocamento em relação a sua posição normal */
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7px 14px 1px rgba(0, 0, 0, 0.329);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2705\00A0\00A0'; /* 00A0 abre um espaço entre os emojis e as palavras */
    list-style-position: inside; /* list-style-position posiciona os marcadores, para dentro ou para fora do do bloco que você quer editar */
    columns: 2; /* Adiciona colunas */
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: var(--cor0);
    font-weight: none;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor1);
}